node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/routes-manifest.json
.next/trace
.next/cache/.rscinfo
.next/cache/images/C3-kRARkog8GdjeDB0ES2RJKjGwNM1jr6aTPyt_LyMg/60.1764677688311.3STy1d9nRyYhKF8suUuDvY_7LonNETlhHS1dh3H3xfQ.Vy8iMjZmNDctMTlhZGVmYmE3ZDki.webp
.next/cache/images/bkQ2JiT5lqCrNNiJVt6KKIIsrSL188m7H0JlJQ1q1No/60.1764677688310.pILgiKMxtgDLRvf3Ma6nGnyGLyyNQY5oJdf3Ongj7Wg.Vy8iMmFlOGEtMTlhZGVmYmE3ZDgi.webp
.next/cache/images/kRrCbxigcyM91mWCKBXHOcs2cV1SxcEy6bquIZ51kr0/60.1764677688362.S4Bx7JTkD_YEiP3K91iH4PL9l4fHD8EcjRUawDBuhrY.Vy8iMzUzMzUtMTlhZGVmYmE3ZDgi.webp
.next/cache/images/uZOQJK_T0EgefxaavpnmwPgccdTcRVyM_xVCD1PgM0c/60.1764677688307.iMM4V0LQ6w4bFUcLzTDXPmDXOOTyLFEVS17-dXEc3_g.Vy8iZWZhOC0xOWFkZWZiYTdkOSI.webp
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/vendor-chunks/@motionone.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/hey-listen.js
.next/server/vendor-chunks/motion.js
.next/server/vendor-chunks/next-themes.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/tslib.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/not-found.js
.next/static/chunks/app/page.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/37e1d48fe87dd79a-s.p.woff2
.next/static/media/commit-suggestions.5cf789bd.png
.next/static/media/configuration-files.7610785b.png
.next/static/media/dark-mode.93eb9a82.png
.next/static/media/first-release.c5cb86d1.png
.next/static/webpack/633457081244afec._.hot-update.json
.next/types/cache-life.d.ts
.next/types/package.json
.next/types/app/layout.ts
mdx/recma.mjs
mdx/rehype.mjs
mdx/remark.mjs
.env.local
